<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [40]:
import pandas as pd

Load the dataset into a dataframe.

In [41]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [42]:
# your code goes here
df.duplicated().sum()

0

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [43]:
# your code goes here
df.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [44]:
# your code goes here
df.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [45]:
# your code goes here
missing_value = df.isnull()
for column in missing_value.columns.values.tolist():
    print(column)
    print(missing_value[column].value_counts())

Respondent
False    64461
Name: Respondent, dtype: int64
MainBranch
False    64162
True       299
Name: MainBranch, dtype: int64
Hobbyist
False    64416
True        45
Name: Hobbyist, dtype: int64
Age
False    45446
True     19015
Name: Age, dtype: int64
Age1stCode
False    57900
True      6561
Name: Age1stCode, dtype: int64
CompFreq
False    40069
True     24392
Name: CompFreq, dtype: int64
CompTotal
False    34826
True     29635
Name: CompTotal, dtype: int64
ConvertedComp
False    34756
True     29705
Name: ConvertedComp, dtype: int64
Country
False    64072
True       389
Name: Country, dtype: int64
CurrencyDesc
False    45472
True     18989
Name: CurrencyDesc, dtype: int64
CurrencySymbol
False    45472
True     18989
Name: CurrencySymbol, dtype: int64
DatabaseDesireNextYear
False    44070
True     20391
Name: DatabaseDesireNextYear, dtype: int64
DatabaseWorkedWith
False    49537
True     14924
Name: DatabaseWorkedWith, dtype: int64
DevType
False    49370
True     15091
Name: DevType, dtype: int64
EdLevel
False    57431
True      7030
Name: EdLevel, dtype: int64
Employment
False    63854
True       607
Name: Employment, dtype: int64
Ethnicity
False    45948
True     18513
Name: Ethnicity, dtype: int64
Gender
False    50557
True     13904
Name: Gender, dtype: int64
JobFactors
False    49349
True     15112
Name: JobFactors, dtype: int64
JobSat
False    45194
True     19267
Name: JobSat, dtype: int64
JobSeek
False    51727
True     12734
Name: JobSeek, dtype: int64
LanguageDesireNextYear
False    54113
True     10348
Name: LanguageDesireNextYear, dtype: int64
LanguageWorkedWith
False    57378
True      7083
Name: LanguageWorkedWith, dtype: int64
MiscTechDesireNextYear
False    42379
True     22082
Name: MiscTechDesireNextYear, dtype: int64
MiscTechWorkedWith
False    40314
True     24147
Name: MiscTechWorkedWith, dtype: int64
NEWCollabToolsDesireNextYear
False    47287
True     17174
Name: NEWCollabToolsDesireNextYear, dtype: int64
NEWCollabToolsWorkedWith
False    52883
True     11578
Name: NEWCollabToolsWorkedWith, dtype: int64
NEWDevOps
False    42686
True     21775
Name: NEWDevOps, dtype: int64
NEWDevOpsImpt
False    41732
True     22729
Name: NEWDevOpsImpt, dtype: int64
NEWEdImpt
False    48465
True     15996
Name: NEWEdImpt, dtype: int64
NEWJobHunt
False    42286
True     22175
Name: NEWJobHunt, dtype: int64
NEWJobHuntResearch
False    41022
True     23439
Name: NEWJobHuntResearch, dtype: int64
NEWLearn
False    56156
True      8305
Name: NEWLearn, dtype: int64
NEWOffTopic
False    50804
True     13657
Name: NEWOffTopic, dtype: int64
NEWOnboardGood
False    42623
True     21838
Name: NEWOnboardGood, dtype: int64
NEWOtherComms
False    57205
True      7256
Name: NEWOtherComms, dtype: int64
NEWOvertime
False    43231
True     21230
Name: NEWOvertime, dtype: int64
NEWPurchaseResearch
False    37321
True     27140
Name: NEWPurchaseResearch, dtype: int64
NEWPurpleLink
False    54803
True      9658
Name: NEWPurpleLink, dtype: int64
NEWSOSites
False    58275
True      6186
Name: NEWSOSites, dtype: int64
NEWStuck
False    54983
True      9478
Name: NEWStuck, dtype: int64
OpSys
False    56228
True      8233
Name: OpSys, dtype: int64
OrgSize
False    44334
True     20127
Name: OrgSize, dtype: int64
PlatformDesireNextYear
False    50605
True     13856
Name: PlatformDesireNextYear, dtype: int64
PlatformWorkedWith
False    53843
True     10618
Name: PlatformWorkedWith, dtype: int64
PurchaseWhat
False    39364
True     25097
Name: PurchaseWhat, dtype: int64
Sexuality
False    43992
True     20469
Name: Sexuality, dtype: int64
SOAccount
False    56805
True      7656
Name: SOAccount, dtype: int64
SOComm
False    56476
True      7985
Name: SOComm, dtype: int64
SOPartFreq
False    46792
True     17669
Name: SOPartFreq, dtype: int64
SOVisitFreq
False    56970
True      7491
Name: SOVisitFreq, dtype: int64
SurveyEase
False    51802
True     12659
Name: SurveyEase, dtype: int64
SurveyLength
False    51701
True     12760
Name: SurveyLength, dtype: int64
Trans
False    49345
True     15116
Name: Trans, dtype: int64
UndergradMajor
False    50995
True     13466
Name: UndergradMajor, dtype: int64
WebframeDesireNextYear
False    40024
True     24437
Name: WebframeDesireNextYear, dtype: int64
WebframeWorkedWith
False    42279
True     22182
Name: WebframeWorkedWith, dtype: int64
WelcomeChange
False    52683
True     11778
Name: WelcomeChange, dtype: int64
WorkWeekHrs
False    41151
True     23310
Name: WorkWeekHrs, dtype: int64
YearsCode
False    57684
True      6777
Name: YearsCode, dtype: int64
YearsCodePro
False    46349
True     18112
Name: YearsCodePro, dtype: int64

In [46]:
# your code goes here
missing_value["Age"].value_counts()

False    45446
True     19015
Name: Age, dtype: int64

## Imputing missing values

Find the  value counts for the column Age.

In [47]:
# your code goes here
df["Age"].value_counts()

25.0    2693
28.0    2412
30.0    2406
26.0    2391
27.0    2338
        ...
26.8       1
3.0        1
14.7       1
26.5       1
22.5       1
Name: Age, Length: 110, dtype: int64

Find the median for the column Age

In [48]:
#your code goes here
df["Age"].median()

29.0

Impute the median value to Age column

In [49]:
# your code goes here
import numpy as np
df["Age"].replace(np.nan, 29, inplace = True)
df["Age"].value_counts().isnull()

29.0    False
25.0    False
28.0    False
30.0    False
26.0    False
        ...
26.8    False
3.0     False
14.7    False
26.5    False
22.5    False
Name: Age, Length: 110, dtype: bool

Identify the value that is most frequent (majority) in the Country column.

In [50]:
# your code goes here
df["Country"].value_counts().idxmax()

'United States'

Drop all the missing values from the dataset

In [57]:
# your code goes here
df.isnull()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro,NormalizedAnnualCompensation
0,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,True,False,False,...,True,True,False,True,True,False,True,False,False,True
2,False,False,False,False,False,False,True,True,False,True,...,False,True,True,True,True,False,True,False,True,True
3,False,False,False,False,False,False,True,True,False,False,...,True,False,False,True,True,False,False,False,False,True
4,False,False,False,False,False,False,True,True,False,True,...,False,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,False,False,False,True,True,False,True,...,True,True,False,True,True,True,True,False,False,True
64457,False,True,False,False,True,False,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,False,True,False,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,False,True,False,True,True,False,True,...,True,True,True,False,True,True,True,True,True,True
64460,False,True,False,False,True,False,True,True,False,True,...,True,True,False,False,False,True,True,True,True,True

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [52]:
# your code goes here
df["CompFreq"].value_counts()
mf_compfreq = df["CompFreq"].value_counts().idxmax()
mf_compfreq
df["CompFreq"].replace(np.nan, mf_compfreq, inplace = True)

df["CompFreq"].unique()
df.head(2)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,29.0,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,29.0,19,Yearly,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [53]:
# your code goes here
df["CompFreq"].replace("Yearly", 1 , inplace = True)
df["CompFreq"].replace("Monthly", 12 , inplace = True)
df["CompFreq"].replace("Weekly", 52 , inplace = True)

# imputing of CompTotal
#me_comptotal = df["CompTotal"].median()
#df["CompTotal"].replace(np.nan, me_comptotal, inplace = True)
# checking the nan in comptotal
#df["CompTotal"].value_counts().isnull().sum()

df["NormalizedAnnualCompensation"] = df["CompFreq"] * df["CompTotal"]
df.head() 

df["NormalizedAnnualCompensation"].median()

104000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).